form {
    width: 400px;
    height: 120px;
    background-color: white;
}

.parent {
    display: flex;
}

.first {
    width: 15%;
    margin-top: 17px;
    flex: 1;
}
.second {
    width: 30%;
    flex: 1;
}

.second-second {
    /* width: 25%; */
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-right: 20px;
}

.third {
    width: 30%;
    flex: 1;
}

input {  
    width: 81px;  
    margin-top: 14px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
} 

select {
    margin-top: 14px;
}

button {
    margin-top: 10px;
    margin-left: 294px;
}