form {
    padding: 0 10px 0 10px;
    width: 20rem;
    border: 1px solid black;
    background-color: aliceblue;
}

input {
    width: 100%;    
}

h3 {
    text-align: center;
}

div .bcd {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

/* .button {
    position: absolute;
    right: 0;
    bottom: 0; 
} */
